{{import Button from "ui/button"}}
{{import LocalButton from "./button"}}
{{import dirtyNamedGlobal from "ui/button"}}
{{import dirtyNamedLocal from "./button"}}

<Button>I'm a globally referenced button</Button>
<LocalButton>I'm a locally referenced button</LocalButton>
<dirtyNamedGlobal>I'm a dirty named global button</dirtyNamedGlobal>
<dirtyNamedLocal>I'm a dirty named global button</dirtyNamedLocal>
